/* 简写css */

.cur {
	cursor: pointer;
}

.flex {
	display: flex;
}

.jc-center {
	justify-content: center;
}

.al-center {
	align-items: center;
}

.els {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

